html, body{
  padding: 0;
  margin: 0;
}


.orange{
  color: #f79000;
}

.container-fluid{
  height: calc(100vh - 40px);
  overflow-x: auto;
}

a:hover{
  text-decoration: none;
  color: #f79000;
}

a{
  color: #f79000;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  text-align: center; 
}

.navbar a {
  display: inline-block; 
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

.navbar a.active {
  background-color: #f79000;
}

.navbar {
  display: flex;
  justify-content: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

.scroll-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 9999;
}

#colorToggleButton {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 9998;
}
